<!doctype html>
<html>
<head>
    <title>Boomerang</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="/build/boomerang.css">
    <link rel="stylesheet" href="/build/media-queries.css">
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="col-sm-6 col-sm-offset-3">
        <p>ask</p>
        <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <!-- Create FORM -->
        <form action="/create" method="post">
            <div class="form-group">

                <textarea rows="3" class="form-control" name="boomerang">
                </textarea>
            </div>

            <button type="submit" class="btn btn-warning btn-lg">Create</button>
        </form>

        <hr>

    </div>
    <div class="col-sm-6 col-sm-offset-3">
        <form method="get">
            <button type="submit" formaction="/find" class="btn">find</button>
            <button type="submit" formaction="/next" class="btn">answer</button>
        </form>
    </div>


</div>

</body>
</html>