<!doctype html>
<html>
<head>
    <title>Boomerang Authentication</title>
    <meta name="viewport" content="width=320">

    <link rel="stylesheet" href="/build/boomerang.css">
    <link rel="stylesheet" href="/build/media-queries.css">

    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-repeat"></span>Boomerang</h1>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
    </div>

</div>
</body>
</html>