<!doctype html>
<html>
<head>
    <title>Boomerang</title>
    <meta name="viewport" content="width=320">

    <link rel="stylesheet" href="/build/media-queries.css">
    <link rel="stylesheet" href="/build/boomerang.css">
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="col-sm-6 col-sm-offset-3">

        <a href="/create" class="btn btn-default"><span class="fa"></span>create</a>
        <h1></span>Browse:</h1>
        <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <div class="row">

            <div class="col-sm-6">
                <div class="well">
                    <%if (boomerang && boomerang.users.responder && boomerang.users.responder.toString() == user._id.toString()){%>

                    <p>
                        <%= boomerang.description  %><br>

                    </p>

                    <form method="post">
                        <div class="form-group">
                            <textarea rows="3" class="form-control" name="response">
                            </textarea>
                        </div>

                        <button type="submit" formaction="/complete" class="btn">complete</button>
                        <button type="submit" formaction="/toss" class="btn">toss</button>
                    </form>


                    <% } else if (boomerang) {%>
                        <p>
                            <%= boomerang.description  %><br>
                        </p>
                        <a href="/select?boomerangId=<%= boomerang._id %>" class="btn btn-default"><span class="fa"></span>select</a>
                        <a href="/next" class="btn btn-default"><span class="fa"></span>next</a>
                    <% } else { %>
                          <p>
                            no more<br>
                        </p>
                    <%}%>
                </div>

            </div>

        </div>

    </div>


</div>
</body>
</html>